.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  margin: 0;
  width: 100%;
  z-index: 1000;
  height: 88px;
  flex-wrap: nowrap;
}

.container-container {
  justify-content: space-between;
  margin: 0;
  width: 100%;
  max-width: none;
  padding: 0;
}

.img-mailing {
width: 44px;
}
